##################
## Sublime Text 2
##################

# Sublime Text project files
*.sublime-project
*.sublime-workspace

#PHPStorm
*.idea

##################
## Windows
##################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


##################
## Mac OS
##################

# Mac crap
.DS_Store

##################
## Subtitles
##################

# folder
subtitles/*

# files
.srt
!subtitles/index.html
!subtitles/.htaccess